<ion-view view-title="A propos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content class="padding">

      <div class="item item-divider">A propos d'<b>Art Mobilis</b><br /></div>

      <span>Informations techniques:</span>
      <ul class="apropos-techinfo-list">
        <li><span id="infoBrowser" ng-bind="infoBrowser"></span></li>
        <li><span id="infoOnline" ng-bind="infoOnline"></span></li>
        <li><span id="infoSize" ng-bind="infoSize"></span></li>
        <li><span id="infoUsermedia" ng-bind="infoUsermedia"></span></li>
        <li><span id="infoPps" ng-bind="infoGps"></span></li>
      </ul>

    </ion-content>
</ion-view>
