<ion-view title="Réalité augmentée">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content data-tap-disabled="true">
        <canvas id="canevas" class="canevas"> </canvas>
        <span id="placeholder">Chargement...</span>
        <!-- <img ng-src="{{arPopupImage}}" id="image" />-->
        <webcam id="cam" style="position: absolute;display: block!important;top: -9999px;left: -9999px;" cameraid="1" channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>
        <span id="infos" style="position: absolute;top: 50px;left: 50px;width:320px; height:40px;" ng-bind="infos">Infos</span>
        <span id="erreur" style="position: absolute;top: 90px;left: 0px;width:320px; height:40px;" ng-bind="erreur">erreur</span>

    </ion-content>

</ion-view>
