<ion-view view-title="A propos">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="item item-divider">Contact d'<b>Art Mobilis</b><br /></div>
        <div class="item item-body">
            <ul class="contact-list">
                <li>Art Mobilis : Un parcours urbain en réalité augmentée. <a href="https://sites.google.com/a/lehublot.net/artmobilis/">Présentation du projet Art Mobilis (Le Hublot, Nice)</a>.</li>
                <li><a href="">Courrier électronique</a></li>
                <li>Liste de discussion</li>
                <li><a href="http://lehublot.net">Le Hublot</a> - <a href="http://www.openstreetmap.org/?mlat=43.7142&mlon=7.2890#map=13/43.7142/7.2890">16 rue de Roquebillière Nice</a></li>
            </ul>
            <strong>Développement</strong>
            <ul class="contact-list">
                <li>Accès au dépôt l'<a href="https://github.com/artmobilis/Documentation">application</a> du projet.</li>
                <li>Accès au dépôt du <a href="https://github.com/artmobilis/Prototypes">code source</a> des prototypes.</li>
                <li>Accès au dépôt de la <a href="https://github.com/artmobilis/Documentation">documentation</a> du projet.</li>
            </ul>
        </div>
    </ion-content>
</ion-view>
