<ion-view view-title="A propos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content class="padding">

            <div class="item item-divider">Contact d'<b>Art Mobilis</b><br /></div>
            <div class="item item-body">
                <div>
                		<div style="text-align:center; ">
                    <p>mail list</p>
                    <p><a href="https://sites.google.com/a/lehublot.net/artmobilis/">site internet</a> </p>
                    <p><a href="https://github.com/artmobilis/Prototypes">code source</a> </p>
							</div>
                </div>
            </div>


    </ion-content>
</ion-view>
