body {
}

progress {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 20px;
  padding: 3px 3px 2px 3px;
  background: #333; 
  background: -webkit-linear-gradient(#2d2d2d,#444);
  background:    -moz-linear-gradient(#2d2d2d,#444);
  background:      -o-linear-gradient(#2d2d2d,#444);
  background:         linear-gradient(#2d2d2d,#444);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
}

progress::-moz-progress-bar {
  border-radius:10px;
  background: #09c;
  background: 
  -moz-repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  -moz-linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background: 
  repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background-size: 300px 20px, auto, auto;
  background-position: -300px 0, top, top;
  background-position: top right, top, top;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
  0 -1px 0 rgba(0,0,0,.8) inset,
  0 0 2px black;
  
}

/* Style de la barre pour Chrome*/
progress::-webkit-progress-value {
  border-radius:10px;
  background: #09c;
  background: 
  -webkit-repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  -webkit-linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background: 
  repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background-size: 300px 20px, auto, auto;
  background-position: -300px 0, top, top;
  background-position: top right, top, top;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
  0 -1px 0 rgba(0,0,0,.8) inset,
  0 0 2px black;
}
progress::-webkit-progress-bar {
  background: transparent;
}


.background_map {
  background-color: white;
  background-image: url(../img/background_map.jpg);
  background-position: center center;
  background-size: auto 100%;
}


#play_button_container {
  position: absolute;
  width: 150px;
  height: 150px;
  display: block;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(64, 154, 218, .25);
}
.play_button {
  position: absolute;
}
img.play_button {
  -webkit-filter: blur(1px);
}
#button_triangle_right {
  width: 60px;
  height: 60px;
  border-top: 40px solid transparent;
  border-left: 60px solid white;
  border-bottom: 40px solid transparent;
  z-index:2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-20px, 40px);
  box-shadow: -5px 0px 4px -4px black;
}

#info_bar {
  background-color: #0885B4;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2) inset;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

#preface_bloc {
  background-color: white;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
}

#main_menu_bloc {
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
}